
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
</head>
<body>
    
    <div class = "lgout">
        <input type="button" value="Logout" (click)="logout()">

    </div>
    <div class="card">
       
        <h1>Success</h1>
        <p>Logged in successfully</p>
        <p>Welcome <strong>{{ loggedInUserName }}</strong></p>
    </div>
    <div class="topnav">
        <input type="text" placeholder="Search any movie..">
        <button>Search</button>
    </div>
    
  
</body>
</html>
